@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background: #0ef;
    color: #1f242d;
}

body {
    background: #ffb6c1;
    color: #fff;
}

body div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #ffb1bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #8b3295;
}

.menu-mobile {
    display: none;
}

.home {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 150px 10% 0;
}

.home-content {
    max-width: 600px;
    font-size: 30px;
}

.home-content h1 {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-top: 20px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #8b3295;
}


.home-img img {
    max-width: 900px;
    border-radius: 50%;
    /* box-shadow: 0 0 20px #8b3295 */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: .7s;
}

.social-media div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 50px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid #8b3295;
    border-radius: 50%;
    font-size: 35px;
    color:#8b3295;
    text-decoration: none;
    transition: .5s ease;
}

.social-media a:hover {
    background: #8b3295;
    color: #fff;
    box-shadow: 0 0 20px #8b3295;
}

.social-media div h3 {
    margin-top: 10px;
    font-weight: 550;
    color: #8b3295;
}

.social-media div p {
    display: flex;
    justify-content: center;
    width: 100% !important;
    font-size: 15px;
}

.home-content .btn {
    width: 31vh;
    display: inline-block;
    padding: 12px 28px;
    background: #8b3295;
    color: #ffb6c1;
    border-radius: 40px;
    box-shadow: 0 0 10px #8b3295;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

/* SOBRE/ABOUT */

.about {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10% 0;
    margin-top: 90px

}

.about h1 {
    font-size: 25px;
    color:#8b3295;
    margin-bottom: 30px;
}

.about p {
    width: 90%;
    text-align: center;
}

/* PROJETOS */

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 10% 0;
}

.projects h3 {
    font-size: 30px;
    color:#8b3295;
    margin-bottom: 30px;
}

.projects-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.project-container {
    background-color: #ff9ead;
    width: 30%;
    min-width: 315px;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid #8b3295;
    padding: 10px;
    margin: 15px 7px;
    transition: .5s ease;
}

.project-container:hover {
    box-shadow: 0 0 20px #8b3295;
}

.project-image {
    border: 1px solid #8b3295;
    width: 100%;
    height: 260px;
    overflow: hidden;
}

.project-container .project-image img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.project-container a {
    text-decoration: none;
    color: #f5f5f5;
}

.project-container h3 {
    margin: 0;
    padding: 15px 0;
    display: inline-block;
}

.project-container p {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.project-container ul {
    padding: 0;
    margin: 15px 0 0;
    display: flex;
}

.project-container ul li {
    list-style: none;
}

.project-container a {
    text-decoration: none;
    color: #f5f5f5;
}

.project-container ul li a p {
    display: flex;
    align-items: center;
    color: #f5f5f5;
}

.project-container ul li svg {
    margin-right: 30px;
    margin-left: 10px;
}

/* SKILLS */

.skills {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.skills h3 {
    color:#8b3295;
    font-size: 2rem;
    margin: 30px 0;
    text-align: center;
}

.container-skills {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

.skill-item {
    margin: 0 30px 0 30px;
}

.container-skills a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: transparent;
    border: 2px solid #8b3295;
    font-size: 80px;
    color:#8b3295;
    text-decoration: none;
    transition: .5s ease;
}

.container-skills a:hover {
    background: #8b3295;
    color: #fff;
    box-shadow: 0 0 20px #8b3295;
}

/* CONTATO */

.contato {
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contato .social-media {
    display: flex;
    flex-direction: row;
}

.footer {
    width: 100%;
    height: 45px;
    background: #ffb1bd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    width: 100%;
    text-align: center;
}

/* KEYFRAMES ANIMATION */

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* RESPONSIVO */

@media screen and (max-width:1020px){
    .navbar {
        display: none;
    }

    /* SECTION HOME */
    .home {
        height: 100%;
        flex-direction: column-reverse;
        padding-top: 170px;
    }

    .home .home-img img {
        max-width: 300px;
    }

    .home-content {
        margin-top: 35px;
    }

    .home-content h3 {
        font-size: 20px;
    }

    .home-content h1 {
        font-size: 30px;
    }

    .home-content .btn {
        width: 29vh;
    }
    
    /* SECTION CONTATO */
    .contato {
        height: 100%;
    }

    .contato .social-media {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .contato .social-media div {
        margin: 20px 10px;
        width: 144px;
        height: 150px;
    }

    .contato .social-media div p {
        font-size: 14px;
    }

    /* SECTION ABOUT */
    .about {
        height: 100%;
        margin-top: 120px;
    }

    /* SECTION SKILLS */
    .skills {
        height: 100%;
        margin-bottom: 70px;
    }

    .skills {
        margin-top: 50px;
    }

    .skills .container-skills {
        width: 100%;
        flex-wrap: wrap;
    }

    .skills .container-skills .skill-item{
        margin: 20px 25px;
    }
}

/* ESTILO DO MENU MOBILE */

@media screen and (max-width:1020px){
    .overlay-menu {
        background-color: #000000a7;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none;
    }

    .btn-abrir-menu {
        margin-left: 10px;
        font-size: 40px;
    }

    .menu-mobile {
        display: flex;
        background-color: #ffe6e6;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 0%;
        overflow: hidden;
        transition: .5s;
    }

    .menu-mobile.abrir-menu {
        width: 70%;
    }

    .menu-mobile.abrir-menu ~ .overlay-menu{
        display: block;
    }

    .menu-mobile .btn-fechar {
        height: auto;
        padding: 10px;
    }

    .menu-mobile .btn-fechar i{
        color: #8b3295;
        font-size: 40px;
    }

    .navbar-mobile {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-right: 10px;
        margin-top: 60px;
    }

    .navbar-mobile a {
        display: block;
        padding: 20px 4%;
        text-decoration: none;
        color: #ff9fae;
        font-size: 22px;
        font-weight: 500;
        transition: .3s;
        opacity: 0;
        animation: slideTop .5s ease forwards;
        animation-delay: calc(.2s * var(--i));
    }
    
    .navbar-mobile a:hover,
    .navbar-mobile a.active {
        color: #8b3295;
    }

    .contato-mobile {
        display: flex;
        justify-content: center;
        margin-top: 210px;
        padding: 17px 4%;
        text-decoration: none;
        color: #fff;
        font-size: 22px;
        font-weight: 500;
    }

    .contato-mobile p {
        background-color: #ff9fae;       
        padding: 10px 15%;
        border-radius: 50px;
    }

    .btn-fechar {
        display: flex;
    }
}
